{% extends 'base.html.twig' %}

{% block title %}
    Welcome!
{% endblock %}
{% block body %}
    <div class="container text-center" style="font-family: 'Bahnschrift',Serif,serif">
        <h1>OUR STORE</h1>
        <h5>Best Offers in The Market</h5>
    </div>
{% endblock %}